<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-1 mb-5 mt-5">
      <h3>会員一覧</h3>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
          <tbody>
            <tr>
              <td><%= customer.id %></td>
              <td>
                <%= link_to "#{customer.last_name}#{customer.first_name}", admin_customer_path(customer.id) %>
              </td>
              <td><%= customer.email %></td>
              <td><%= customer.is_deleted? %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
  
</div>